.ThemeListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    justify-content: center;
}

.ThemeListItem > h2 {
    padding: 0 1rem;
}

.ThemeListItem > button {
    height: fit-content;
    padding: 0.5rem;
}